.nav{
    margin: auto;
    padding-left: 10px;
}

.box{
    width: 600px;
    height: 440px;
    margin: auto;
    background-color: gainsboro;
}
.top{
    height: 40px;
}

.content{
    height: 400px;
}
.input-group{
    width: 240px;
}


a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}

